
// Color related styles

.text-color-danger {

    color: $color_danger;

}

.text-color-success {

    color: $color_success;
    
}

.text-color-light {

    color: $light_color;

}

// Font related styles

.small-font {

    font-size: $small_font;

}

.bold-font {

    font-weight: $bold_weight;

}

// Alignment

.center-align {

    align-items: center;

}

.text-right {

    text-align: right;
    
}