.app-background {

    background: no-repeat top/100% url(/assets/images/background.jpg);
    height: calc(100vh - 71.4px);

}

.app-footer {

    height: 20px;
    background: $white__color;
    text-align: center;
    font-size: .75rem;

}