<div class="review-modal">
    <p-dialog header="Review transfer" [(visible)]="displayModal" [modal]="true" fxFlex.lg="30" fxFlex.md="40" fxFlex.sm="70" fxFlex.lt-sm="80" [baseZIndex]="100"
    [draggable]="false" [resizable]="false">
        <div>
            <p> Are you ready to send out this transfer?</p>
        </div>
        <div>
            <h5> It will be send out to account</h5>
            <span> {{transaction.toAccount}}</span>
        </div>
        <div>
            <h5> With the amount of </h5>
            <span> {{transaction.amount}} </span>
        </div>
        <ng-template pTemplate="footer">
            <p-button  (click)="closeModal()" label="Close" class="btn btn-secondary p-button-text"></p-button>
            <p-button  (click)="moneyTransfer($event)" label="Send transfer" class="btn btn-primary"></p-button>
        </ng-template>
    </p-dialog>
</div>