<section class="transaction-form-container">
    <ng-template pTemplate="icons">
        <button pButton class="p-panel-header-icon p-link" icon="pi pi-wallet">

        </button>
    </ng-template>
    <p-panel header="Make Transfer">
        <form [formGroup]="transactionForm" class="transaction-form">
            <div class="p-field">
                <h5>From Account</h5>
                <input id="fromAccount" formControlName="fromAccount" type="text" pInputText>         
            </div>
            <div class="p-field">
                <h5>To Account</h5>
                <input id="toAccount" formControlName="toAccount" type="text" pInputText placeholder="type an account name">         
            </div>
            <h5>Amount</h5>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input formControlName="amount" type="text" pInputText placeholder="Amount">         
            </div>
            <div class="action-button-container">
                <app-submit-button (submitForm)="submitForm($event)"></app-submit-button>
            </div>
        </form>
    </p-panel>
</section>
