
// colors

$primary__color: #00a1e0;
$white__color: #ffffff;
$button__primary: #FF0000;
$color__warning: #FF0000;
$color__success: #008000;
$color__light: #767676;
$disabled__color: #ddd;
$alert__danger: #a80000;