<div fxLayout="row" fxLayout.lt-md="column" transactionContainer>
  <ng-content select="transactionContainer"></ng-content>
  <ng-content select="[data-test-hook='transactionColour']"></ng-content>
  <ng-content select="[data-test-hook='transactionDate']"]></ng-content>
  <div fxFlex.sm="20" fxFlex.md="60" fxFlex.gt-md="60">
    <ng-content select="[data-test-hook='transactionMerchantName']"></ng-content>
    <ng-content select="[data-test-hook='transactionType']"></ng-content>
  </div>
  <ng-content select="[data-test-hook='transactionAmount']"></ng-content>
</div>
