@import './base/colors/colors';

// Font size
$small_font: .75rem;
$semi_regular_font: .815rem;

// Font weight
$normal_weight: 500;
$bold_weight: 600;

// spacing
$small-spacing: 5px;
$medium-spacing: 10px;
$large-spacing: 20px;

// colors
$primary_blue: $primary__color;
$toolbar_background: $white__color;
$color_success: $color__success;
$color_danger: $color__warning;
$light_color: $color__light;
$disabled_color: $disabled__color;

// Button colors

$btn_action_primary: $button__primary;
$btn_action_secondary: $white__color;

// Alerts
$alert_danger: $alert__danger;

// path
$assetPath :"/assets/images";
